.content {
  padding: 2rem;
  flex-grow: 1;
  overflow-y: auto;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  gap: 1.5rem;

  .card {
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      margin-bottom: 0.5rem;
      font-weight: 700;
      color: #004080;
    }

    p {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  @media(max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
  }
}