<!-- <div class="d-flex">

  <div class="bg-dark text-white p-3" style="width: 220px; min-height: 100vh;">
    <h5>Insurance CRM</h5>
    <hr>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link text-white">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/customers" class="nav-link text-white">Customers</a>
      </li>
      <li class="nav-item">
        <a routerLink="/policies" class="nav-link text-white">Policies</a>
      </li>
      <li class="nav-item mt-3">
        <a routerLink="/login" class="nav-link text-danger">Logout</a>
      </li>
    </ul>
  </div>

  <div class="flex-fill p-4">
    <router-outlet></router-outlet>
  </div>

</div> -->
   <router-outlet></router-outlet>